[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=su-to-root -X -c /usr/bin/configure-bttv
Icon=configure-bttv
Name=configure-bttv
GenericName=Configure TV card
GenericName[de]=Fernsehkarte konfigurieren
GenericName[ru]=Установка TV-тюнера
GenericName[es]=Configurar la tarjeta de televisión
GenericName[pt]=Configuração da placa de TV
GenericName[pt_BR]=Configuração da placa de TV
Categories=Settings;
