[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/usr/bin/xawtv.wrapper reconfigure
Icon=xawtv
Name=configure tv channels
Name[de]=Fernsehsender konfigurieren
Name[es]=Configurar los canales de TV

Categories=sidux;Config;TV
