Source: configure-xawtv
Section: x11
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), gettext, imagemagick
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/configure-xawtv/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/configure-xawtv/trunk/

Package: configure-xawtv
Architecture: all
Depends: xawtv, scantv, xterm | x-terminal-emulator, dialog, sidux-xdg, distro-defaults, udev, su-me, ssft, gettext
Recommends: zenity
Description: pre-configures xawtv for use with sidux
 General configuration Template for xawtv on live CDs.
