Source: configure-xawtv-kanotix
Section: x11
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.7.2

Package: configure-xawtv-kanotix
Architecture: all
Depends: xawtv, scantv, xterm, dialog, kanotix-menu, distro-defaults, udev
Recommends: xdialog
Provides: configure-xawtv
Replaces: configure-xawtv
Conflicts: configure-xawtv
Description: pre-configures xawtv for use with KANOTIX
 General configuration Template for xawtv on live CDs.
